/* -------------------------------------------------------------------------- */
/*                              SinglePage Styles                             */
/* -------------------------------------------------------------------------- */

section {
  scroll-snap-align: start;
}

section #roadmap {
  scroll-snap-align: center;
}

/* -------------------------------------------------------------------------- */
/*                         Header & Footer Backgrounds                        */
/* -------------------------------------------------------------------------- */
.headerBg {
  height: 0;
  width: 0;
  border-right: 85vw solid transparent;
  border-top: 100vh solid #aaa0ff;
}

.footerBg {
  height: 0;
  width: 0;
  float: right;
  right: -20px;
  border-left: 85vw solid transparent;
  border-bottom: 80vh solid #aaa0ff;
}

/* -------------------------------------------------------------------------- */
/*                                 Typewriter                                 */
/* -------------------------------------------------------------------------- */

#typewriter {
  text-align: left;
  height: 50px;
  display: inline-block;
  margin-bottom: 60px;
}

#typewriter #text {
  vertical-align: middle;
  font-size: 42px;
  display: inline-block;
  color: #4e4e4e;
  font-weight: bold;
}

#typewriter #cursor {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 50px;
  margin-left: 10px;
  background-color: rgba(5, 75, 11, 0.021);
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #aaa0ff;
  }
}
