.contactMeContainer {
  /* margin: 100px 100px 0 100px; */
  margin: 100px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 2px;
  justify-content: space-between;
  align-items: flex-start;
}
.subHeading {
  font-size: 1.5em;
  color: #3a3a3a;
  margin: 0;
}
.formContainer {
  height: 500px;
  width: 710px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  padding: 40px;
  border-radius: 10px;
  background: white;
}
.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}
.inputContainer {
  flex-direction: column;
}
.formInput {
  width: max-content;
  min-width: 240px;
  max-width: 240px;
  line-height: 50px;
  background: #fafafa;
  box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
  border: none;
  border-radius: 5px;
}
.formInput::placeholder {
  color: #d0d0d0;
}
.formInput:focus {
  outline-color: #aaa0ff;
}
.formTextArea {
  resize: none;
  width: 590px;
  height: 190px;
  line-height: 50px;
  background: #fafafa;
  box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
  border: none;
  border-radius: 5px;
}
.formTextArea:focus {
  outline-color: #aaa0ff;
}
.contactTitle {
  color: #3c3c3c;
  font-size: 18px;
  margin-top: 0;
}

/* -------------------------------------------------------------------------- */
/*                              Shiny Button CSS                              */
/* -------------------------------------------------------------------------- */

@-webkit-keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
.wrapper {
  position: relative;
  float: right;
  margin: 30px 0px;
}
.button {
  padding: 0.35em 1.5em;
  text-align: center;
  text-decoration: none;
  color: #aaa0ff;
  border: 2px solid #aaa0ff;
  font-size: 24px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.button:hover {
  background-color: #aaa0ff;
  color: #fff;
  border-bottom: 4px solid #aaa0ff;
  cursor: url("../assets/cursor-link.png"), auto;
}
.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
