.designMeContainer {
  position: absolute;
  right: 10vw;
  bottom: -70vh;
}

.myLogo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  padding-left: 120px;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  filter: drop-shadow(2px 1px 0 white) drop-shadow(-2px -1px 0 white)
    brightness(100);
}

.myLogo:hover {
  /* cursor: url("../assets/cursor-link.png"), auto; */
  animation-name: bounce;
  filter: drop-shadow(2px 1px 0 white) drop-shadow(-2px -1px 0 white)
    brightness(1);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.dsnMeUnderline {
  width: 300px;
  height: 3px;
  background: white;
}

.dsnMeDesc {
  color: white;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
  padding-left: 2px;
}

.dsnMeName {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-top: 0;
  padding-left: 2px;
}
