a {
  text-decoration: none;
}

.downloadBtn {
  margin: 20px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  text-align: center;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.downloadBtn:hover {
  background-color: var(--main-bg-color);
  box-shadow: 2px 5px #888888;
  cursor: url("../assets/cursor-link.png"), auto;
}

.downloadBtn:active {
  box-shadow: 0px 0px #888888;
}

/* -------------------------------------------------------------------------- */
/*                              Animation Styles                              */
/* -------------------------------------------------------------------------- */

.ms-content {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 10px solid rgba(200, 200, 200, 0.5);
  border-radius: 100%;
  cursor: url("../assets/cursor-link.png"), auto;
}

.ms-content-inside {
  width: 100%;
  height: 100%;
}

.ms-line-down-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(0deg);
  transition: transform 0s ease;
}
#ms-download {
  display: none;
}
#ms-download:checked ~ .ms-line-down-container {
  transform: rotate(-360deg);
  transition: transform 1.5s ease 1.25s;
}

/* Down Arrow */
.ms-line-down {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 125px;
  background: var(--main-bg-color);
  border-radius: 50px;
  transition: height 0.5s ease;
}

#ms-download:checked ~ .ms-line-down-container .ms-line-down {
  height: 10px;
  top: -20px;
  animation: ms-bounce 0.5s forwards 0.55s;
}
#ms-download:checked ~ .ms-line-down-container .ms-line-down:before {
  content: "";
  position: absolute;
  /* top: -10px;
	left: -105px; */
  top: 0;
  left: -95px;
  right: 0;
  bottom: -50px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-radius: 100%;
  animation: ms-border-fill 0.5s forwards 3s;
}

.ms-line-point {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 58px;
  height: 130px;
  transition: height 0.15s ease 0.45s;
}

#ms-download:checked ~ .ms-line-point {
  height: 60px;
}

#ms-download:checked ~ .ms-line-point:before {
  transform: rotate(90deg);
  right: -10px;
  animation: ms-check-right 0.25s forwards 3s;
}

#ms-download:checked ~ .ms-line-point:after {
  transform: rotate(-90deg);
  left: -10px;
  animation: ms-check-left 0.25s forwards 3s;
}

.ms-line-point:before,
.ms-line-point:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 75px;
  bottom: -10px;
  background: var(--main-bg-color);
  border-radius: 50px;
  transition: transform 0.15s ease 0.47s, left 0.15s ease 0.47s,
    right 0.15s ease 0.47s;
}

.ms-line-point:before {
  right: 0px;
  transform: rotate(45deg);
}

.ms-line-point:after {
  left: 0px;
  transform: rotate(-45deg);
}

@keyframes ms-bounce {
  0% {
    top: -20px;
  }
  25% {
    top: -250px;
  }
  50% {
    top: -275px;
  }
  100% {
    top: -190px;
  }
}

@keyframes ms-check-left {
  0% {
    transform: rotate(-90deg);
    left: -10px;
    height: 75px;
  }
  100% {
    transform: rotate(-45deg);
    left: 0px;
    height: 45px;
  }
}

@keyframes ms-check-right {
  0% {
    transform: rotate(90deg);
    right: -10px;
    height: 75px;
    bottom: -10px;
  }
  100% {
    transform: rotate(45deg);
    right: 10px;
    height: 80px;
    bottom: -15px;
  }
}

@keyframes ms-border-fill {
  0% {
    border: 10px solid transparent;
  }
  100% {
    border: 10px solid var(--main-bg-color);
  }
}
