.iconSize {
  width: 3em;
  height: 4em;
  padding-top: 20%
}
.nav-container {
  position: fixed;
  top: 2%;
  padding: 5px;
  border-radius: 50%;
  float: right;
  right: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: entry 1s ease-in 1;
}

@keyframes entry {
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  0%,
  40% {
    transform: scale(0);
  }
  60% {
    transform: scale(0.5);
  }
}

/* -------------------------------------------------------------------------- */
/*                          New nav sticky menu here                          */
/* -------------------------------------------------------------------------- */

.circular-menu {
  /* position: fixed; */
  /* top: 3%; */
  /* float: right; */
}

.circular-menu .floating-btn {

  display: block;
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  background-color: #aaa0ff;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: url("../assets/cursor-link.png"), auto;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}
.circular-menu .floating-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(-9.5em,0em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-9.5em,3.5em,0);

}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-7.5em,7.2em,0);
}

 .circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-4.5em,9.2em,0);

}

.circular-menu.active .menu-item:nth-child(5) {
  transform: translate3d(-0.5em,9.5em,0);
}

.circular-menu.active .menu-item:nth-child(6) {
  transform: translate3d(-6em,3em,0); 

}
