.pInfoContainer {
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 25vw;
  height: 500px;
  margin: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.pInfoGMapContainer {
  background-color: #3a3a3a;
  height: 50%;
  width: 100%;
  border-radius: 15px;
  margin: 5%;
  overflow: hidden;
  border: 0px solid #c3c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iamIcon {
  height: 250px;
  width: 250px;
  padding: 5px 15px;
  /* background: chartreuse; */
}

.pInfoDetails {
  width: 85%;
}

.showInfoBox {
  border-radius: 2px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.showMoreInfoBox {
}

.showMoreInfoBox span {
  display: block;
}

.showMoreInfoBox #title {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c;
}

.showMoreInfoBox #value {
  font-size: 14px;
  color: #3a3a3a;
}

.mapStyle {
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  cursor: url("../assets/cursor-link.png"), auto;
}
